<!DOCTYPE html>
<html>
<head> 
    <meta
     charset="utf-8"> 
    <title>学生管理系统</title> 
</head>
<body>

<div id="container" style="width: 1700px">

    <div id="header" style="background-color:#FFA500; text-align: center;">
        <h1 style="margin-bottom:0;">学生管理系统</h1></div>

    <div id="menu" style="background-color: #dddddd;height:500px;width:300px;float:left;text-align: center;">
        <b></b><br>
        学生管理<br>
        <a href="showStudent">学生信息管理</a><br>
        <a href="">学生费用管理</a><br>
        <a href="">学生学分管理</a><br><br>
        课程管理<br>
        <a href="course">课程管理</a> <br>

        <a href="studycourse">学生所修课程管理</a><br>
    </div>

    <div id="content" style="background-color:#EEEEEE;height:500px;width:1300px;float:left;">
        内容在这里
    </div>

</div>

</body>
</html>