<!DOCTYPE html>
<html>
<head> 
    <meta
             charset="utf-8">
     
    <title>学生管理系统</title> 
</head>
<body>

<div id="container" style="width: 1700px">

    <div id="header" style="background-color:#FFA500; text-align: center;">
        <h1 style="margin-bottom:0;">学生管理系统</h1></div>

    <div id="menu" style="background-color: #dddddd;height:500px;width:300px;float:left;text-align: center;">
        <b></b><br>
        课程管理<br>
        <a href="studycourse">查询选修课程</a><br>
        <br><br><br><br><br>


        <a href="main"> <input type="button" value="返回主界面"> </a>

    </div>

    <div id="content" style="background-color: #EEEEEE;height:500px;width:1300px;float:left;">
        <div style="text-align: center">
            <table border="1" cellpadding="10" cellspacing="0" style="width: 60%;margin: auto">
                <h3>
                    <caption>学生选修课程表</caption>
                </h3>
                <tr>
                    <th>学号</th>
                    <th>学生姓名</th>
                    <th>课程名称</th>
                    <th>选修学期</th>
                    <th>选修时间</th>
                </tr>
                <tr>
                    <td>001</td>
                    <td>张三</td>
                    <td>操作系统</td>
                    <td>第一学期</td>
                    <td>2018-11-25</td>

                </tr>
                <tr>
                    <td>002</td>
                    <td>张三</td>
                    <td>物联网组网</td>
                    <td>第一学期</td>
                    <td>2018-11-25</td>

                </tr>
                <tr>
                    <td>003</td>
                    <td>张三</td>
                    <td>软件工程</td>
                    <td>第一学期</td>
                    <td>2018-11-25</td>

                </tr>
                <tr>
                    <td>004</td>
                    <td>张三</td>
                    <td>算法分析与设计</td>
                    <td>第一学期</td>
                    <td>2018-11-25</td>

                </tr>
                <tr>
                    <td>005</td>
                    <td>张三</td>
                    <td>数值分析</td>
                    <td>第一学期</td>
                    <td>2018-11-25</td>

                </tr>
            </table>
        </div>

    </div>

</div>

</body>
</html>