<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>用户注册页面</title>
</head>
<body>
<h3>
    <div class="text" style=" text-align:center;">学生管理系统</div>
</h3>
<hr/>
<div class="text" style=" text-align: center;">
    <form action="@{Register.registerPost()}" method="post" name="register">

        <table border="1px">
            <tr height="35px">
                <td width="150px">用户名</td>
                <td width="300px">
                    <input type="text" name="username" value=""/>
                </td>
            </tr>
            <tr height="35px">
                <td>密码</td>
                <td>
                    <input type="password" name="password" value=""/>
                </td>
            </tr>
            <tr height="35px">
                <td>邮箱</td>
                <td>
                    <input type="password" name="email" value=""/>
                </td>
            </tr>
            <tr height="35px">
                <td>性别</td>
                <td>
                    男<input type="radio" name="sex" id="" value="男"/>
                    女<input type="radio" name="sex" id="" value="女"/>
                </td>
            </tr>

            <tr>
                <td class="login_td" align="left" width=71>
                    <input type="submit" value="注册"></td>
            </tr>
        </table>

    </form>
</div>
</body>
</html>