<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生管理系统</title>
</head>
<body>
<div  style="width: 1700px">

    <div  style="background-color:#FFA500; text-align: center;">
        <h1 style="margin-bottom:0;">学生管理系统</h1></div>

    <div style="background-color: #dddddd;height:500px;width:300px;float:left;text-align: center;">
        <b></b><br>
        课程管理<br>
        <a href="addStudent">增加学生</a><br>
        <a href="showStudent">查询学生信息</a><br>
        <br><br><br><br><br>


        <a href="main"> <input type="button" value="返回主界面"> </a>

    </div>

    <div style="background-color: #EEEEEE;height:500px;width:1300px;float:left;">
        <div style="text-align: center">
            <table border="1" cellpadding="15" cellspacing="0" style="width: 60%;margin: auto">
                <h3>
                    <caption>学生信息表</caption>
                </h3>
                <tr>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>班级</th>
                    <th>学院</th>
                    <th>是否删除</th>
                    <th>是否修改</th>
                </tr>
                <tr>
                    <td>1607094101</td>
                    <td>张三</td>
                    <td>男</td>
                    <td>16070941</td>
                    <td>大数据学院</td>
                    <td><a href="deleteInfo">删除</a></td>
                    <td><a href="updateStudent">修改</a></td>
                </tr>
                <tr>
                    <td>1607094101</td>
                    <td>张三</td>
                    <td>男</td>
                    <td>16070941</td>
                    <td>大数据学院</td>
                    <td><a href="deleteInfo">删除</a></td>
                    <td><a href="updateStudent">修改</a></td>
                </tr>
                <tr>
                    <td>1607094101</td>
                    <td>张三</td>
                    <td>男</td>
                    <td>16070941</td>
                    <td>大数据学院</td>
                    <td><a href="deleteInfo">删除</a></td>
                    <td><a href="updateStudent">修改</a></td>
                </tr>
                <tr>
                    <td>1607094101</td>
                    <td>张三</td>
                    <td>男</td>
                    <td>16070941</td>
                    <td>大数据学院</td>
                    <td><a href="deleteInfo">删除</a></td>
                    <td><a href="updateStudent">修改</a></td>
                </tr>
                <tr>
                    <td>1607094101</td>
                    <td>张三</td>
                    <td>男</td>
                    <td>16070941</td>
                    <td>大数据学院</td>
                    <td><a href="deleteInfo">删除</a></td>
                    <td><a href="updateStudent">修改</a></td>
                </tr>
                <tr>
                    <td>${number}</td>
                    <td>${name}</td>
                    <td>${sex}</td>
                    <td>${classId}</td>
                    <td>${college}</td>
                    <td><a href="deleteInfo">删除</a></td>
                    <td><a href="updateStudent">修改</a></td>
                </tr>

            </table>
        </div>

    </div>

</div>
</body>
</html>