<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>用户登录页面</title>
</head>
<body>
<h1>
    <div class="text" style=" text-align:center;">学生管理系统</div>
</h1>
<br>
<hr/>
<br>
<br>
<br>
<br>

<div class="text" style=" text-align: center;">
    <form action="@{Login.loginPost()}" method="post" name="login">

        <tr height="55px">
            <td width="150px">用户名</td>
            <td width="300px">
                <input type="text" name="username" value=""/>
            </td>
        </tr>
        <br>
        <br>
        <br>

        <tr height="35px">
            <td>密码</td>
            <td>
                <input type="password" name="password" value=""/>
            </td>
        </tr>
        <br>
        <br>
        <br>

        <tr>
            <td class="login_td" align="left" width=150>
                <input type="submit" value="登录" width="100"></td>

        </tr>

    </form>
    <br>

    <tr>
        <td class="login_td" align="left" width=150>
            <a href="register"> <input type="submit" value="注册" width="100"></a></td>

    </tr>
</div>

</body>
</html>